*.cache
*.suo
*.sln
*.csproj.nuget.g.props
*.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
*.dll
*.json
*.pdb
*.exe
*.txt
*.editorconfig
*.g.cs
*.g.targets
*.AssemblyInfo.cs
*.csproj
*.vs/ProjectEvaluation/runningsum.metadata.v5.1
PivotIndex/PivotIndex/obj/Debug/net6.0/_IsIncrementalBuild
*.vs/ProjectEvaluation/runningsum.projects.v5.1
*.vs/RunningSum/DesignTimeBuild/.dtbcache.v2

/LongestSubstringWithoutRepeatingChracter/LongestSubstringWithoutRepeatingChracter/obj/Debug/net6.0
/LongestSubstringWithoutRepeatingChracter/.vs/LongestSubstringWithoutRepeatingChracter/DesignTimeBuild
/LongestSubstringWithoutRepeatingChracter/.vs
/Subset/.vs/Subset
/Subset/Subset/obj/Debug/net6.0
/Subset/.vs/ProjectEvaluation
/DistributeCandies/DistributeCandies
/DistributeCandies/.vs
/SummaryRanges/.vs/SummaryRanges
/SummaryRanges/SummaryRanges/obj/Debug/net6.0
/SummaryRanges/.vs/ProjectEvaluation
/ValidAnagram/.vs/ValidAnagram
/ValidAnagram/ValidAnagram/obj/Debug/net6.0
/ValidAnagram/.vs/ProjectEvaluation
/MximumSubArray/MximumSubArray/obj/Debug/net6.0
/MximumSubArray/.vs/MximumSubArray
