*.cache
*.suo
*.csproj.nuget.g.props
*.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
*.dll
*.json
*.pdb
*.exe
*.txt
*.editorconfig
*.g.cs
*.g.targets
*.AssemblyInfo.cs
*.vs/ProjectEvaluation/runningsum.metadata.v5.1
PivotIndex/PivotIndex/obj/Debug/net6.0/_IsIncrementalBuild
*.vs/ProjectEvaluation/runningsum.projects.v5.1
*.vs/RunningSum/DesignTimeBuild/.dtbcache.v2

*.vsidx
