*.cache
*.suo
*.sln
*.csproj.nuget.g.props
*.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
*.dll
*.json
*.pdb
*.exe
*.txt
*.editorconfig
*.g.cs
*.g.targets
*.AssemblyInfo.cs
*.csproj
*.vs/ProjectEvaluation/runningsum.metadata.v5.1
PivotIndex/PivotIndex/obj/Debug/net6.0/_IsIncrementalBuild
*.vs/ProjectEvaluation/runningsum.projects.v5.1
*.vs/RunningSum/DesignTimeBuild/.dtbcache.v2

/LongestSubstringWithoutRepeatingChracter/LongestSubstringWithoutRepeatingChracter/obj/Debug/net6.0
/LongestSubstringWithoutRepeatingChracter/.vs/LongestSubstringWithoutRepeatingChracter/DesignTimeBuild
/LongestSubstringWithoutRepeatingChracter/.vs
/Subset/.vs/Subset
/Subset/Subset/obj/Debug/net6.0
/Subset/.vs/ProjectEvaluation
/DistributeCandies/DistributeCandies
/DistributeCandies/.vs
/SummaryRanges/.vs/SummaryRanges
/SummaryRanges/SummaryRanges/obj/Debug/net6.0
/SummaryRanges/.vs/ProjectEvaluation
/ValidAnagram/.vs/ValidAnagram
/ValidAnagram/ValidAnagram/obj/Debug/net6.0
/ValidAnagram/.vs/ProjectEvaluation
/MximumSubArray/MximumSubArray/obj/Debug/net6.0
/MximumSubArray/.vs/MximumSubArray
/MximumSubArray/.vs/ProjectEvaluation
/BestTimeToBuyAndSellStock/BestTimeToBuyAndSellStock/obj/Debug/net6.0
/BestTimeToBuyAndSellStock/.vs/BestTimeToBuyAndSellStock
/RomanToInteger/RomanToInteger/obj/Debug/net6.0
/BestTimeToBuyAndSellStock/.vs/ProjectEvaluation
/RomanToInteger/.vs
/longestCommonPrefix/.vs
/ContainsDuplicate/.vs/ContainsDuplicate/DesignTimeBuild
/ContainsDuplicate/obj/Debug/net6.0
/BuildAnArrayWithStackOperation/obj/Debug/net6.0
/CombinationSum/.vs/ProjectEvaluation
/IntersectionOfTwoArray/.vs/ProjectEvaluation
/IntersectionOfTwoArray/.vs/IntersectionOfTwoArray/v17
*.vsidx
/BuildAnArrayWithStackOperation/.vs
/HouseRobber
/GoalParser/obj/Debug/net6.0
/GenerateParanthesis/.vs/GenerateParanthesis/FileContentIndex/read.lock
/GenerateParanthesis/obj/Debug/net6.0
/GoalParser/.vs/GoalParser/DesignTimeBuild
/GoalParser/.vs/GoalParser/v17/.futdcache.v2
/GoalParser/.vs/ProjectEvaluation
/findAllNumberDisappeared/.vs/findAllNumberDisappeared/DesignTimeBuild
/findAllNumberDisappeared/obj/Debug/net6.0
/GenerateParanthesis/.vs/ProjectEvaluation
/GenerateParanthesis/.vs/GenerateParanthesis/v17
/FindAllDuplicateNumberInAnArray/obj/Debug/net6.0
/findAllNumberDisappeared/.vs
/FindAllDuplicateNumberInAnArray/.vs
/RemoveDuplicateElementFromArray/.vs
/find-the-middle-index-in-array/obj/Debug/net6.0
/find-the-middle-index-in-array/.vs/find-the-middle-index-in-array/DesignTimeBuild
/find-the-middle-index-in-array/.vs/ProjectEvaluation
/RansomNote/.vs/RansomNote/DesignTimeBuild
/find-the-middle-index-in-array/.vs/find-the-middle-index-in-array/v17
/RansomNote
/move-zeros/obj/Debug/net6.0
/move-zeros/.vs/move-zeros/FileContentIndex
/move-zeros/.vs
/MaximumAvarageSubarray/.vs/MaximumAvarageSubarray/DesignTimeBuild
/MaximumAvarageSubarray/obj/Debug/net6.0
